* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

li a {
    color: #fff;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 15px;
    position: relative;
    z-index: 1;
}

.main-nav a.active {
    color: #76F3D5;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #747474;
    height: 60px;
    width: 100%;
    padding: 0 5px;
    position: absolute;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-left: 10px;
}

.logo-container h1 a {
    color: #fff;
    font-family: 'KyivType Sans', sans-serif;
    font-weight: normal;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;
}

.cover-photo {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    overflow: hidden;
}

.cover-photo img {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
}

img {
    opacity: .7;
}

.booking-container {
    margin: 70px auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1400px;
    z-index: 1;
}

.booking-stage-img-container{
    margin-top: 50px;
    margin-left: -100px;
    flex-basis: 48%;
}

.booking-stage-img-container img{
    width: 90%;
}

.booking-stage-img-container .img-1 {
    height: 360px;
    width: 450px;
    filter: brightness(200%);
}

.booking-stage-img-container .img-2 {
    height: 150px;
    width: 450px;
}

.booking-form-container {
    margin-top: -100px;
}


.booking-stage-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-stage-img-container img {
    margin-bottom: 20px;
}

.booking-content-form {
    display: flex;
    justify-content: center;
}

.booking-content-form form {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.booking-content-form div {
    flex: 1;
    margin-right: 20px; 
}

.booking-content-form label,
.booking-content-form input,
.booking-content-form select,
.booking-content-form button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
}

input::placeholder {
    color: #99999976;
}

.booking-content-form select {
    background-color: #ffffff67;
    padding: 5px;
}

.booking-content-form input {
    padding: 5px;
    width: 400px;
    background-color: #ffffff67;
}

.booking-content-form label {
    font-weight: bold;
    color: #fff;
}

.eme {
    font-size: 12px;
    margin-top: 35px;
}

.booking-content-form button {
    background-color: #ffffff67;
    color: #00FFE0;
    font: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.booking-content-form button:hover {
    color: #00ffe1;
    font-weight: 400;
    background-color: #ffffff82;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.centered-content {
    text-align: center;
    margin: 20px 0;
}

.centered-content,
h1,
p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.centered-content h1 {
    text-transform: capitalize;
    font-size: 3.5em;
    font-weight: 700;
}

.centered-content p {
    margin-top: -20px;
    font-size: 11px;
}

span {
    color: #00FFE0;
}

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}
